{% load static %}
<!DOCTYPE html>
<html lang="ru" >

<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">

</head>

<body>

<header>
    <a href="{% url 'index' %}" class="logo">infoMIET</a>
    <div>
        <nav>
            <ul>
                <li><a href="#">Авторизация</a>
                    <ul>
                        <li><a href="{% url 'login' %}">Вход</a></li>
                        <li><a href="{% url 'registration' %}">Регистрация</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div>
    <a href="{% url 'articles0' %}">
        <button class="articles" >
            Статьи

        </button>
    </a>
</div>

<div>
    <a href="{% url 'gallery0' %}">
        <button class="gallery" >
           Галерея
        </button>
    </a>
</div>

<div>
    <a href="{% url 'links0' %}">
        <button class="links">
            Ссылки
        </button>
    </a>
</div>



</body>
</html>