figure {
    width: 100%; /* Ширина области */
    height: 400px; /* Высота области */
    margin: 0; /* Обнуляем отступы */
}
figure img {
    width: 100%; /* Ширина изображений */
    height: 100%; /* Высота изображении */
    object-fit: cover; /* Вписываем фотографию в область */
}